* {
  box-sizing: border-box;
}

/* BASIC */

body {
  margin: 0;
  font-size: 1.3rem;
  background-color: rgba(31, 33, 33, 0.981);
  color: rgb(233, 229, 229);
}

/* LAYOUT */
.main-layout {
  padding-left: 10%;
  padding-right: 10%;
}

.main-header {
  height: 60px;
  color: #ffffff;
  background-color: #a97b7bf0;
  padding-left: 5%;
  padding-right: 5%;
  margin-bottom: 20px;
}

.main-nav {
  text-decoration: none;
}
.main-nav a {
  color: inherit;
  text-decoration: none;
  padding: 30px;
}

.btn-menu {
  display: none;
}
/* IMGS */
h2 {
  font-size: 1.2em;
}

.galley-grid {
  background-color: rgb(68, 68, 68);
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
  justify-content: center;
  gap: 10px;
  width: 60rem;
  height: 25rem;
  padding: 5px;
  border: 5px solid rgba(204, 204, 204, 0.46);
  margin-left: 10%;
  margin-right: 10%;
}

/* Scrollbar styles */
::-webkit-scrollbar {
  width: 15px;
  height: 15px;
}

img {
  height: 250px;
  width: 250px;
  border-radius: 20px;
  transition: filter 0.3s, border 0.3s, box-shdow 0.3s;
}

/* EDITOR */
.editor {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2, [col] auto);
  grid-template-rows: repeat(1, [row] auto);
  background-color: rgba(255, 255, 255, 0);
  justify-content: center;
  text-align: center;
  gap: 50px;
}

.box {
  background-color: rgb(68, 68, 68);
  border-radius: 5px;
  padding: 20px;
  font-size: 1rem;
}
.box .box {
  background-color: rgba(204, 204, 204, 0.618);
}

.a {
  grid-column: col / span 1;
  grid-row: row;
}

.b {
  display: grid;
  grid-column: col 2 / span 1;
  grid-gap: 5px;
  grid-template-columns: 500px;
  grid-template-rows: auto auto;
}
.c {
  grid-column: 1 / 2;
  /* grid-row: 1; */
}

.d {
  grid-column: 1;
  /* grid-row: 2; */
}

.ctrl-btns button {
  margin: 10px 5px 10px;
  height: 2.5rem;
  width: 5rem;
  font-size: 1.1em;
}

.ctrl-btn-fill > * {
  height: 2rem;
  width: 3.5rem;
}

.meme-text {
  color: black;
  font-size: 20px;
  height: 3rem;
  width: 20rem;
  font-weight: bold;
  text-align: center;
}

/* FOOTER */
.main-footer {
  position: relative;
  margin-top: 10px;
  bottom: 0;
  width: 100%;
  background-color: #a97b7b8a;
  color: white;
}

/* HELPERS */

.hide {
  display: none;
}

/* grid */

.grid {
  display: grid;
}

.align-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}

/* flex */

.flex {
  display: flex;
}

.flex.align-center {
  align-items: center;
}
.flex.justify-content {
  justify-content: center;
}

.flex.space-between {
  justify-content: space-between;
}
.flex.flex-wrap {
  flex-wrap: wrap;
}

/* list helpers */
.clean-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* Mobile */
@media (max-width: 840px) {
  header {
    height: 70px;
    background-color: #503f54cb;
    margin: 5px;
    border-radius: 3em;
  }

  .main-nav {
    position: fixed;
    top: 0;
    right: 0;
    height: 30vh;
    flex-direction: column;
    background-color: #2e2b2be7;
    width: 150px;
    transform: translateX(100%);
    transition: transform 0.6s, box-shadow 0.6s;
    justify-content: stretch;
    align-items: flex-start;
  }

  body.menu-open .main-nav {
    transform: translateX(0);
    box-shadow: -2px -2px 20px #2d2f3091;
  }
  .main-nav > *:not(:last-child) {
    margin: 0;
  }
  .main-nav a {
    display: block;
    padding: 10px 16px;
    transition: background 0.3s;
  }

  .btn-menu {
    color: white;

    font-size: 2.5rem;
    display: block;
    margin: 20px;
  }

  .logo img {
    height: 30px;
  }

  footer {
    height: 50px;
  }
}

@media (min-width: 800px) {
  .main-contant {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .canvas-container {
    margin: auto;
  }

  .options-bar {
    align-items: center;
  }

  .gallary-container {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-template-rows: auto;
  }

  .gallary-container > * {
    width: 150px;
    height: 150px;
  }
}
