* {
  box-sizing: border-box;
}

/* BASIC */

body {
  margin: 0;
  font-size: 1.7rem;
}

html,
ul,
li,
main,
canvas,
footer,
header,
section,
body,
div,
span,
html,
a,
img,
form {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

/* LAYOUT */
.main-layout {
  /* max-width: 1060px; */
  padding-left: 10%;
  padding-right: 10%;
}

.main-header {
  height: 130px;
  color: #ffffff;
  background-color: #7f939d;
  margin-bottom: 50px;
}

.main-nav {
  text-decoration: none;
}
.main-nav a {
  color: inherit;
  text-decoration: none;
  padding: 50px 42px;
}

/* IMGS */

.galley-grid {
  grid-template-columns: repeat(5, 150px);
  /* grid-auto-rows: 50px; */
  gap: 30px;
}

.memes-img {
  object-fit: cover;
  border-radius: 20px;
  transition: filter 0.3s, border 0.3s, box-shdow 0.3s;
}

.memes-img {
  height: 350px;
}
/* EDITOR */

.canvas {
  border: 5px solid black;
  height: auto;
  width: auto;
}
canvas {
  border: 1px solid black;
  max-width: 450px;
  max-height: 450px;
  margin: 10px auto;
}
.canvas-container {
  flex-direction: column;
}

/* FOOTER */
.main-footer {
  /* position: absolute; */
  background-color: #7f939d;
  color: white;
  bottom: 0;
  width: 100%;
}

.ctrl-btn {
  font-size: 40px;
}

/* .meme-text input {
  border: 1px solid black;
  background-color: blanchedalmond;
  font-size: 20px;
} */

/* HELPERS */

.hide {
  display: none;
}

/* grid */

.grid {
  display: grid;
}

.align-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}

/* flex */

.flex {
  display: flex;
}

.flex.align-center {
  align-items: center;
}
.flex.justify-content {
  justify-content: center;
}

.flex.space-between {
  justify-content: space-between;
}
.flex.flex-wrap {
  flex-wrap: wrap;
}

/* list helpers */
.clean-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
